<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>ムジクロチケット管理ページ</title>

	<!-- bootstrap -->

	<!-- サイト共用 CSS -->
	<link rel="stylesheet" href="/static/css/common/base.css">
	<link rel="stylesheet" href="/static/css/common/button.css">
	<link rel="stylesheet" href="/static/css/common/form.css">
	<link rel="stylesheet" href="/static/css/common/list.css">
	<link rel="stylesheet" href="/static/css/common/table.css">
</head>

<body>
	<!-- ヘッダー領域 -->
	<header>
		<div class="container">
			<div class="color_top">
			</div>
			<div class="site_title">
				<a class="heads" href="{{url_for('entry')}}"><img class="logo" src="/static/images/logo_new.png" alt="ムジクロチケット"></a>
				<div class="heads">
					<a class="imgs" href="{{url_for('user_info')}}"><img src="/static/images/user_info.png"></a>
					<a class="imgs" href="{{url_for('my_ticket')}}"><img src="/static/images/ticket.png"></a>
					<a class="imgs" href="{{url_for('logout_customer')}}"><img src="/static/images/logout.png"></a>

				</div>
			</div>
			<div>
				<hr>
			</div>
		</div>
	</header>

	<!-- flashメッセージ表示 -->
	{% for message in get_flashed_messages() %}
	<div class="alert alert-info" role="alert">
		{{ message }}
	</div>
	{% endfor %}

	<!-- メインコンテンツ領域 -->
	<div class="mujiclo-staff-body">
		{% block body %}{% endblock %}
	</div>

	<!-- フッター領域 -->
	<footer>
		<div class="container">
			<p class="copyright"><small>© MUJIQLO ENTERTAINMENT INC.</small></p>
		</div>
	</footer>
</body>

</html>