{% extends "layout_staff.html" %}

{% block body %}

<!-- ナビゲーション領域 -->

<main>
    
  <a href="user_user_top">マイページ</a>>チケット一覧

    <div class="container">
      <h1 id="main_title">
        MYチケット一覧
      </h1>
  
      <div id="list_area" class="base_pattern">
        <div id="output_list_table">
          <!-- ここに一覧表を表示する -->
          <table border="1">
            <tbody> 
              <tr>
                <th class="event_category_name">MYチケット一覧</th>
              </tr>
              {% for my_ticket in my_ticket_list %}
              <tr>
                <form method="post">
                  <td class="my_ticket">
                    {{ my_ticket.event_name }}
                    {{ my_ticket.event_date }}
                    {{ my_ticket.ticket_price }}
                    {{ my_ticket.ticket_seat_name }}
                  </td>
                  <!-- hidden属性の項目 -->
                  <input name="event_category_name" type="hidden" value="{{ my_ticket.event_category_name }}">
                  <input name="event_place" type="hidden" value="{{ my_ticket.event_place }}">
                  <input name="event_overview" type="hidden" value="{{ my_ticket.event_overview }}">
                  <input name="reservation_id" type="hidden" value="{{ my_ticket.reservation_id }}">
    
                  <td class="action_button">
                    <div>
                      <input type="submit" formaction="{{ url_for('ticket_detail') }}"
                        class="button" value="詳細" />
                    
                      <input type="submit" formaction="{{ url_for('ticket_cancel') }}"
                        class="button" value="キャンセル" />
                 
                    </div>
                  </td>
                </form>
              </tr>
              {% else %}
            Myチケットは存在しません。
            {% endfor %}
            </tbody>
          </table>
         
        </div>
      </div>
      
    </div>
  </main>

{% endblock %}