{% extends "layout_staff.html" %}

{% block body %}

<!-- ナビゲーション領域 -->

<main>
    
  <a href="user_user_top">マイページ</a>>チケット一覧

    <div class="container">
      <h1 id="main_title">
        MYチケット一覧
      </h1>
  
      <div id="list_area" class="base_pattern">
        <div id="output_list_table">
          <!-- ここに一覧表を表示する -->
          <table border="1">
            
            
            <tbody>
          
             
              <tr>
                <form method="post">
      
                  
  
                  <td class="action_button">
                    <div>
                      <input type="submit" formaction="{{ url_for('ticket_detail') }}"
                        class="button" value="詳細" />
                    
                      <input type="submit" formaction="{{ url_for('ticket_cancel') }}"
                        class="button" value="キャンセル" />
                 
                    </div>
                  </td>
                </form>
              </tr>
             
            </tbody>
          </table>
         
        </div>
      </div>
      
    </div>
  </main>

{% endblock %}