{% extends "layout_staff.html" %}

{% block body %}

<!-- ナビゲーション領域 -->

<main>
    <div class="container">
      <h1 id="main_title">
        MYチケット一覧
      </h1>
  
      <div id="list_area" class="base_pattern">
        <div id="output_list_table">
          <!-- ここに一覧表を表示する -->
          <table border="1">
            <tbody>
              <tr>
                <th class="event_category_name">カテゴリ名</th>
                <th class="action_button"></th>
              </tr>
              {% for event_category in mst_event_category %}
              <tr>
                <form method="post">
                  <td class="event_category_name">{{ event_category.event_category_name }}</td>
                  <!-- hidden属性の項目 -->
                  <input name="event_category_name" type="hidden" value="{{ event_category.event_category_name }}">
                  <input name="event_category_id" type="hidden" value="{{ event_category.event_category_id }}">
  
                  <td class="action_button">
                    <div>
                      <input type="submit" formaction="{{ url_for('input_event_category', mode='update') }}"
                        class="half_button" value="変更" />
                      <!-- 削除ボタン表示判定 -->
                      {% if event_category.isDeletable != false %}
                      <input type="submit" formaction="{{ url_for('confirm_event_category', mode='delete') }}"
                        class="half_button" value="削除" />
                      {% endif %}
                    </div>
                  </td>
                </form>
              </tr>
              {% else %}
              イベントカテゴリが存在しません。
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div id="button_area">
        <input type="button" class="go_next_button" value="新規登録"
          onclick="location.href=`{{url_for('input_event_category', mode='create')}}`">
      </div>
    </div>
  </main>












{% endblock %}