{% extends "layout_staff.html" %}
{% block body %}

  <!-- メインコンテンツ領域 -->
  <main>
    <div class="container">
      <h1 id="main_title">
        <!-- ここに ページタイトルを表示する -->
      </h1>
      <h2 id="main_sub_title">イベント情報</h2>

      <form id="inputForm" method="post" class="add_event">
        <div id="form_area" class="base_pattern">
          <p>イベント名<span class="required">（必須）</span>：</p>
          <p><input name="event_name" class="info" type="text" value="{{ event_name }}" readonly="readonly"></p>

          <p>イベントカテゴリ名<span class="required">（必須）</span>：</p>
          <p id="output_event_category_sb">
            <select name="event_category_id" class="info" form="inputForm">
              <option value="{{ event_category_id }}">{{ event_category_name }}</option>
            </select>
          </p>

          <p>開催日<span class="required">（必須）</span>：</p>
          <p><input name="event_date" class="info" type="date" value="{{ event_date }}" readonly="readonly"></p>

          <p>開催場所<span class="required">（必須）</span>：</p>
          <p><input name="event_place" class="info" type="text" value="{{ event_place }}" readonly="readonly"></p>

          <p>イベント概要：</p>
          <p>
            <textarea name="event_overview" class="info" value="{{ event_overview }}" readonly="readonly">{{ event_overview }}</textarea>
          </p>
          <!-- hidden属性の項目 -->
          <input name="event_id" type="hidden" value="{{ event_id }}" readonly="readonly">
        </div>
      </form>
    </div>
  </main>
{% endblock %}