{% extends "layout_staff.html" %}

{% block body %}

<!-- 機能共用 CSS -->
<link rel="stylesheet" href="/static/css/staff/staff_customer_manage.css">

<!-- ナビゲーション領域 -->
<nav>
  <div class="container">
    <p class="menu">
      <a href="{{ url_for('user_mypage') }}">マイページ</a>
      >
      <a href="{{ url_for('') }}">イベント詳細</a>
      >
      <a href="{{ url_for('') }}">申込みページ</a>
      <
      <a href="{{ url_for('') }}">申込み情報入力</a>
      >申込者情報確認
    </p>
  </div>
</nav>

<!-- メインコンテンツ領域 -->
<main>
  <div class="container">
    <h1 id="main_title">
      <!-- ここに ページタイトルを表示する -->
    </h1>
    <h2 id="main_sub_title">申込者情報確認</h2>

    <form name="inputForm" method="post">
      <div id="form_area" class="base_pattern">
        <p>メールアドレス</p>
        <p><input name="event_name" class="info" type="text" value="" readonly="readonly">
        </p>

        <p>パスワード</p>
        <p><input name="event_category" class="info" type="password" value=""
            readonly="readonly">
        </p>

        <p>氏名</p>
        <p><input name="event_date" class="info" type="text" value="" readonly="readonly"></p>

        <p>郵便番号</p>
        <p><input name="event_place" class="info" type="text" value="" readonly="readonly">
        </p>

        <p>住所</p>
        <p><input name="event_overview" class="info" type="text" value="" readonly="readonly">
        </p>

        <p>電話番号</p>
        <p><input name="event_ticket" class="info" type="text" value="" readonly="readonly"></p>

        <p>生年月日</p>
        <p><input name="event_ticket" class="info" type="text" value="" readonly="readonly"></p>

        <p>支払い方法</p>
        <input type="radio" name="" value="0" checked="checked">
        クレジットカード &nbsp;&nbsp;
        <input type="radio" name="" value="1">
        銀行振込 &nbsp;&nbsp;
        <input type="radio" name="" value="2">
        PayPay
        </p>

        <!-- hidden属性の項目 -->
        <!-- <input name="customer_id" type="hidden" value="{{ customer_id }}"> -->
      </div>

      <div id="button_area">
        <input type="submit" formaction="{{ url_for('', mode=mode) }}" class="go_next_button" value="確認画面へ移る">
        <input type="button" class="other_button" value="戻る" onclick="location.href=`{{url_for('')}}`">
      </div>
    </form>
  </div>
</main>

{% endblock %}