{% extends "layout_staff.html" %}
 
{% block body %}
 
<!-- 機能共用 CSS -->
<link rel="stylesheet" href="/static/css/staff/staff_customer_manage.css">

 
<!-- メインコンテンツ領域 -->
<main>
  <div class="container">
    <h1 id="main_title">
      <!-- ここに ページタイトルを表示する -->
    </h1>
    <h2 id="main_sub_title">イベント詳細</h2>
 
    <form name="inputForm" method="post">
      <div id="form_area" class="base_pattern">
        <p>イベント名：</p>
        <p><input name="event_name" class="info" type="text" value="{{event_name}}" readonly="readonly">
        </p>
 
        <p>イベントカテゴリ：</p>
        <p><input name="event_category" class="info" type="text" value="{{event_category_name}}" readonly="readonly">
        </p>
 
        <p>日付：</p>
        <p><input name="event_date" class="info" type="date" value="{{event_date}}" readonly="readonly"></p>
 
        <p>場所：</p>
        <p><input name="event_place" class="info" type="text" value="{{event_place}}" readonly="readonly"></p>
 
        <p>概要：</p>
        <p><input name="event_overview" class="info" type="text" value="{{event_overview}}" readonly="readonly"></p>
 
        <p>残りチケット枚数：</p>
        <p><input name="event_ticket" class="info" type="text" value="○" readonly="readonly"></p>
        <p>※残席余裕あり→○、残席わずか→△、売り切れ→×</p>
 
        <p>席種：</p>
        <input type="radio" name="ticket_seat_id" value="S席" checked="checked">
        S席:10000円 &nbsp;&nbsp;
        <input type="radio" name="ticket_seat_id" value="A席">
        A席:5000円 &nbsp;&nbsp;
        <input type="radio" name="ticket_seat_id" value="B席">
        B席:3000円
        </p>
 
        <!-- hidden属性の項目 -->                       
        <input name="event_category_id" type="hidden" value="{{ event_category_id }}">
        <input name="event_name" type="hidden" value="{{ event_name }}">
        <input name="event_place" type="hidden" value="{{ event_place }}">
        <input name="event_id" type="hidden" value="{{ event_id }}">
        <input name="event_overview" type="hidden" value="{{ event_overview }}">
        <input name="event_date" type="hidden" value="{{ event_date }}">

      </div>
 
      <div id="button_area">
        <input type="submit" formaction="{{ url_for('event_app')}}" class="go_next_button" value="申込む">
      </div>
    </form>
  </div>
</main>
 
{% endblock %}