{% extends "layout_staff.html" %}
 
{% block body %}
 
<!-- 機能共用 CSS -->
<link rel="stylesheet" href="/static/css/staff/staff_customer_manage.css">
 
<!-- ナビゲーション領域 -->

 
<!-- メインコンテンツ領域 -->
<main>
  <div class="container">
    <h1 id="main_title">
      <!-- ここに ページタイトルを表示する -->
    </h1>
    <h2 id="main_sub_title">申込者情報確認</h2>
 
    <form name="inputForm" method="post">
      <div id="form_area" class="base_pattern">
        <p>メールアドレス</p>
        <p><input name="customer_account" class="info" type="text" value="" readonly="readonly">
        </p>
 
        <p>パスワード</p>
        <p><input name="customer_password" class="info" type="password" value="password" readonly="readonly">
        </p>
 
        <p>氏名</p>
        <p><input name="customer_name" class="info" type="text" value="" readonly="readonly"></p>
 
        <p>郵便番号</p>
        <p><input name="customer_zipcode" class="info" type="text" value="" readonly="readonly">
        </p>
 
        <p>住所</p>
        <p><input name="customer_address" class="info" type="text" value="" readonly="readonly">
        </p>
 
        <p>電話番号</p>
        <p><input name="customer_phone" class="info" type="text" value="" readonly="readonly"></p>
 
        <p>生年月日</p>
        <p><input name="customer_birth" class="info" type="date" value="" readonly="readonly"></p>
 
        <p>支払い方法</p>
        <p><input name="customer_payment" class="info" type="text" value="" readonly="readonly"></p>
        </p>
 
        <!-- hidden属性の項目 -->
        <input name="event_category_id" type="hidden" value="{{ event_category_id }}">
        <input name="event_name" type="hidden" value="{{ event_name }}">
        <input name="event_place" type="hidden" value="{{ event_place }}">
        <input name="event_id" type="hidden" value="{{ event_id }}">
        <input name="event_overview" type="hidden" value="{{ event_overview }}">
        <input name="event_date" type="hidden" value="{{ event_date }}">

        <!-- <input name="customer_id" type="hidden" value="{{ customer_id }}"> -->
      </div>
 
      <div id="button_area">
        <input type="submit" formaction="{{ url_for('event_app_comp')}}" class="go_next_button" value="入力確定">
        <input type="button" class="other_button" value="申込を中止" onclick="location.href=`{{url_for('event_app_input')}}`">
      </div>
    </form>
  </div>
</main>
 
{% endblock %}