{% extends "layout_staff.html" %}

{% block body %}

<!-- <nav>
	<div class="container">
	  <p class="menu">
		<a href="{{ url_for('staff_staff_top') }}">ログイン</a>
		> 会員ログイン
	  </p>
	</div>
</nav>
   -->
<!-- メインコンテンツ領域 -->
<main>
	<div class="container">
		<h1 id="main_title">
			会員ログイン
		</h1>
		

		<form action="/login_customer" method="post" name="inputForm">
			<div id="form_area" class="base_pattern">
				<p>アカウント名<span class="required">（必須）</span>：</p>
				<p><input name="customer_account" type="text" value="" id="InputTitle"></p>

				<p>パスワード<span class="required">（必須）</span>：</p>
				<p><input name="customer_password" type="password" value=""></p>
			</div>
			<div id="button_area">
				<input type="submit" class="go_next_button" value="ログイン">
			</div>
		</form>
	</div>
</main>
{% endblock %}