{% extends "layout_staff.html" %}

{% block body %}
<!-- メインコンテンツ領域 -->
<main>
    <div class="container">
      <div style="display: flex;">
        <h1>
            最新のイベント一欄
        </h1>
        <hr>
      </div>
      {% for event in mst_event %}
      <a href="{{url_for('event_check')}}">
        <div style="background-color: aliceblue;">
            <form method="post">
                <div class="event_date">{{ event.event_date }}</div>
                <div class="event_category_name">
                {% for event_category in mst_event_category %}
                {% if event.event_category_id == event_category.event_category_id %}
                {{ event_category.event_category_name }}
                {% endif %}
                {% endfor %}
                </div>
                <div class="event_name">{{ event.event_name }}</div>
                <div class="event_place">{{ event.event_place }}</div>
            <!-- hidden属性の項目 -->
            <input name="event_date" type="hidden" value="{{ event.event_date }}">
            <input name="event_category_id" type="hidden" value="{{ event.event_category_id }}">
            <input name="event_name" type="hidden" value="{{ event.event_name }}">
            <input name="event_place" type="hidden" value="{{ event.event_place }}">
            <input name="event_id" type="hidden" value="{{ event.event_id  }}">
            <input name="event_overview" type="hidden" value="{{ event.event_overview  }}">

            </form>
            {% else %}
            イベントが存在しません。
        </div>
      </a>
      {% endfor %}
    </div>
  </main>
{% endblock %}