{% extends "layout_staff.html" %}
 
{% block body %}
 
<!-- 機能共用 CSS -->
<link rel="stylesheet" href="/static/css/staff/staff_customer_manage.css">
 
<!-- ナビゲーション領域 -->
<nav>
 
    <div class="container">
      <p class="menu">
        <a href="{{ url_for('user_user_top') }}">マイページ</a>
        >会員情報
       
      </p>
    </div>
  </nav>
 
 
<!-- メインコンテンツ領域 -->
<main>
    <div class="container">
        <h1 id="main_title">
          <!-- ここに ページタイトルを表示する -->
        </h1>
        <h2 id="main_sub_title">会員情報</h2>
        <!-- 会員情報の表示 -->
        <form method="post">
          <div>アカウント名:</div>
        </form>
 
 
 
 
        <!-- 変更、削除ボタンの表示 -->
    <div>
            <input type="submit"
                class="half_button"value="変更" onClick="window.location.href=`{{url_for('user_info_change')}}`">
            <input type="submit"  
                class="half_button"value="退会" onClick="window.location.href=`{{url_for('user_delete')}}`">
            </div>
    </div>
 
 
</main>
 
{% endblock %}